/* ==============
global css
=================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1;
  color: #272727;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.section-padding {
  padding: 128px 0;
}
.section-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 24px;
}
.section-title span {
  color: #e55473;
}
.section-subtitle {
  text-align: center;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #c93a59;
}
/* ==============
Header section
=================*/
.header {
  padding: 50px 240px 0 240px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
}
.header-info {
  align-self: center;
  max-width: 708px;
}
.header-info .header-title {
  font-size: 80px;
  margin-bottom: 32px;
}
.header-info .header-text {
  margin-bottom: 32px;
}
.header-img {
  margin-left: 97px;
}

/* ==============
Featured section
=================*/
.featured {
  padding-top: 178px;
}
.featured-info {
  max-width: 594px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.featured-body {
  display: flex;
  justify-content: space-between;
}
.featured-item {
  min-width: 464px;
}

.featured-item .featured-item-img-box {
  min-height: 538px;
  border-radius: 300px 300px 0 0;
  display: flex;
  justify-content: center;
  align-items: end;
}

.featured-item .featured-item-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: underline;
  color: #272727;
  margin-top: 32px;
}
/* individual item css */
.featured-item--1 .featured-item-img-box {
  background-color: rgba(167, 33, 98, 0.15);
}
.featured-item--1 .featured-item-img-box img {
  max-width: 310px;
}
.featured-item--2 .featured-item-img-box {
  background-color: rgba(5, 151, 160, 0.15);
  padding-bottom: 51px;
}
.featured-item--2 .featured-item-img-box img {
  max-width: 370px;
}
.featured-item--3 .featured-item-img-box {
  background-color: rgba(71, 125, 17, 0.15);
}
.featured-item--3 .featured-item-img-box img {
  max-width: 314px;
}

/* ==============
shop-exclusive Section
=================*/
.exclusive-boxes {
  height: 320px;
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.exclusive-boxes .icon-box {
  text-align: center;
  margin: 0 50px;
}
.exclusive-boxes .icon-box img {
  margin-bottom: 24px;
}
.exclusive-boxes .icon-box .icon-box-text {
  font-size: 24px;
  font-weight: 600;
  color: rgba(39, 39, 39, 0.8);
  line-height: 35px;
}

/* ==============
cta Section
=================*/
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
}
.cta-info {
  text-align: center;
  max-width: 594px;
  margin-right: 186px;
}
.cta-info .section-subtitle {
  margin-bottom: 32px;
}
.cta-img {
  padding: 100px 0;
}

/* ==============
instagram Section
=================*/
.instagram-info {
  max-width: 594px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.instagram-body {
  display: flex;
}
.instagram-body img {
  margin-right: 24px;
}
.instagram-body img:last-child {
  margin-right: 0;
}

/* ==============
Testimonial Section
=================*/
.testimonial-section {
  background-color: rgba(229, 84, 115, 0.05);
}
.testimonial-info {
  max-width: 594px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.testimonial-wrapper {
  display: flex;
  justify-content: center;
}

.testimonial-item {
  background-color: #fff;
  border-radius: 8px;
  margin-right: 24px;
  width: 30%;
  padding: 20px 20px 30px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.testimonial-item:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.testimonial-item:last-child {
  margin-right: 0;
}
.testimonial-item .customer-img {
  max-width: 70px;
  border-radius: 50%;
}
.testimonial-item .customer-name {
  color: #272727;
  font-weight: 700;
}

.testimonial-item .customer-type {
  font-size: 16px;
  color: rgba(39, 39, 39, 0.5);
}
.testimonial-item .customer-feedback {
  color: rgba(39, 39, 39, 0.7);
  margin-top: 20px;
}

/* ==============
Newsletter Section
=================*/
.newsletter {
  min-height: 450px;
  margin: 128px auto;
  background-image: url(../img/newsletter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter-info {
  margin-bottom: 48px;
}
.newsletter-info h2 {
  margin-bottom: 16px;
}
.newsletter-form {
  display: flex;
}
.newsletter-form .input-email {
  width: 700px;
  margin-right: 16px;
  border: none;
  border-radius: 8px;
  padding: 22px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.newsletter-form .input-email::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
}
.newsletter-form .input-email:focus {
  outline: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.newsletter-form .btn {
  border: none;
  cursor: pointer;
}

/* ==============
footer
=================*/
.footer {
  background-color: #111010;
}
.footer-title {
  font-size: 48px;
  font-weight: 800;
  color: #e55473;
  text-align: center;
  margin-bottom: 24px;
}
.footer-title span {
  color: #fff;
}
.footer-text {
  max-width: 625px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.copy-right-text {
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
